<h2 mat-dialog-title>Adicionar Pessoa</h2>
<mat-dialog-content>
    <div class="row">
        <div class="column">
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Insira seu nome" autocomplete="off">
            </mat-form-field>
        </div>
        <div class="column">
            <mat-form-field appearance="fill">
                <mat-label>Sobrenome</mat-label>
                <input matInput placeholder="Insira seu sobrenome" autocomplete="off">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Insira seu email" autocomplete="off">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <mat-form-field>
                <mat-label>Tipo de Documento</mat-label>
                <mat-select>
                  <mat-option *ngFor="let item of tipoDocumento" [value]="item">
                    {{ item}}
                  </mat-option>
                </mat-select>
              </mat-form-field> 
        </div>
        <div class="column">
            <mat-form-field appearance="fill">
                <mat-label>Documento</mat-label>
                <input matInput placeholder="Insira seu documento" autocomplete="off">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="column">
            
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button (click)="cancelar()" mat-button>Cancelar</button>
    <button mat-button cdkFocusInitial>Aceitar</button>
</mat-dialog-actions>